<h2>Edit Historical Landmark</h2>

<!-- add content here -->
<form action="/landmarks/<%= @landmark.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="landmarks[name]" value="<%=@landmark.name %>">
  <input type="submit">
</form>


<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
